/*STORE PRODUCTS*/
.products {
    width: 100%;
    background-color: #2b2b2b;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #ccc;
    padding: 16px;
    border-radius: 120px;
    box-shadow: black 0px 0px 16px -5px;
}
.products_search p {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 1px;
}
.products_search input {
    width: 50%;
    height: 2rem;
    border-radius: 16px;
    border: none;
    outline: none;
}
.products_list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 1% 0 1% 0; 
}
.products_ol {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 0;
    padding:0;
}
.products_ol li {
    width: 325px;
    height: 25rem;
    margin: 0.5vw;
}
@media(max-width : 1000px) and ( min-width : 400px){

    .products_ol {
        width: 95%;
    }

}
@media(max-width : 400px) {

    .products_ol li {
        width: 500px;
        height: 20rem;
    }

}
/* STORE ADDING PRODUCT STYLING */
.price_input {
    width: 25%;
}
.store_add_cpm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 4vw;
    min-height: 75px;
    border-radius: 16px;
    background-color: #3b3b3b;
}
.store_add_cpm a {
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
.new_prod_background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(-180deg , #2b2b2b , #0b0b0b);
}
.new_prod_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 85%;
    margin-top: 20px;
}
.new_prod_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(111,0,255);
    border-radius: 4px 4px 0 0 ;
    font-size: 2vmin;
}
.new_prod_fields p {
    font-size: 18px;
    font-weight: bold;
    margin: 0.5vw;
}
.new_prod_price_container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.new_prod_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    padding:  0 0 1vw 0;
    border-radius : 6px;
    background: white;
    box-shadow:  0 0 25px -5px; 
}

.new_prod_fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.new_prod_container input {
    width: 50%;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #aaa;
    outline: none;
    text-indent: 5px;
    outline: none;
    margin: 0;
}
.new_prod_container input:focus {
  border: 2px solid rgb(219, 112, 147);
  background-color: white;
}
.new_prod_container select {
    width: 20%;
    outline: none;
    border-radius: 4px;
    text-indent: 5px;
    font-size: 16px;
    border: 2px solid #aaa;
    outline: none;
    margin: 0 0.25vw 0 0.25vw;
}
.new_prod_container select:focus{
    border: 2px solid rgb(219, 112, 147);
}
.new_prod_container option {
    width: 40%;
    height: 10%;
    outline: none;
    border-radius: 4px;
    text-indent: 5px;
}
.new_prod_container textarea{
    width: 50%;
    height: 2.5vw;
    border-radius: 4px;
    border: 2px solid #aaa;
    outline: none;
}
.new_prod_container textarea:focus{
    border: 2px solid rgb(219, 112, 147);
}
.new_prod_container label {
    background-color: #1b1b1b;
    padding: 5px 7.5px 5px 7.5px;
    color: white;
    border-radius: 32px;
}
.new_prod_container button {
    background-color: #1b1b1b;
    padding: 5px 7.5px 5px 7.5px;
    color: white;
    border-radius: 32px;
    border: none;
    margin-top: 15px;
}
button {
    outline: none;
}
button:hover{
    cursor: pointer;
}
label:hover {
    cursor: pointer;
}
@media (max-width : 768px){

    .new_prod_container {
        margin-top: 0;
        flex-direction: column;

    }
    .new_prod_container form{
        width:95%;
        height: 100%;
        padding: 10px;
    }
    .new_prod_container p {
        font-size: 12px;
        margin: 5px;
    }
    .new_prod_container button {
        font-size: 12px;
        margin-top: 5px;
    }
    .new_prod_container label {
        font-size: 12px;
    }
    .new_prod_title  h1{
        font-size: 15px;
    }
    .new_prod_container textarea {
        width: 50%;
        height: 30px;
    }
    .new_prod_container select {
        width: 25%;
        height:auto;
        font-size: 10px;
        font-weight: bold;
    }
    .new_prod_container input {
        height: 12px;
        width: 40%;
    }
    .new_prod_title {
        height: 0;
        width: 0;
        visibility: none;
        color : transparent;
    }
}