.moon_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(#3b3b3b, black);
    height: 50vw;
    margin: 0 0vw 2vw 0vw;
}
.moon {
    width: 8vw;
    height: 8vw;
    background-color: transparent;
    border-radius: 1000px;
    box-shadow: 2vw 2vw 0 0.2vw #1b1b1b;
    transition: box-shadow 500ms ease-in-out;    
    transform: translateX(-2vw);
}
.moon_container:hover .moon {
    box-shadow: 2vw 2vw 0 0.2vw white;
    transition: box-shadow 500ms ease-in-out;
}
.moon_container:hover p{
color: white;
transition: color 500ms ease-in-out;
}
.moon_container p {
    color: white;
    font-size: 8vmin;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition: color 500ms ease-in-out;
}