.new_prod_preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2vw;
    border-radius : 6px;
    width: 30vw;
    height: 35vw;
    background-color: white;
    box-shadow: 0 0 25px -10px;
}
.preview_title{
    width: 100%;
    border-radius:  4px 4px 0 0;
    z-index: 500;
    top: 0;
}
.preview_title h1 {
    margin: 0.5vw;
    color: #2b2b2b;
    font-size: 2vw;
}
.preview_img {
    width: 100%;
    height: 100%;
    background-color: white;
}
.preview_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 100%;
    text-align: center;
    background-color: #1b1b1b;
    border-radius:  0 0 4px 4px;
}
.preview_price h1 {
    margin: 0.5vw;
    text-align: center;
    font-size: 2vw;
    text-indent: 25px;
    color: green;
}
.preview_price p {
    font-size: 1.5vw;
    color: white;
}