.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 95%;
  padding: 2vw;
}
.main_header {
  width: 100%;
  font-size: 2vw;
  margin: 0 0 0 2vw;
  text-align: left;
}
.main_header h1 {
  width: 35%;
}
.main_charts {
  width: 100%;
  height: 10%;
  box-shadow: 0 0 15px -6.5px;
  border-radius: 32px;
}
.main_charts ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 8vw;
  margin: 0;
  padding: 0;
}
.main_charts li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 50%;
}
.main_charts li h1 {
  font-size: 2vw;
  color: rgb(219,112,147);
}
.main_charts li p {
  font-size: 1.5vw;
}
.charts_value {
  width: 5vw;        
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: inset -1px -2px 15px -8px;
  font-size: 20px;
  margin-left: 5px;
}
.main_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  border-radius: 32px;
  margin-top: 5vw;
  text-align: center;
  font-size: 2vw;
  color: #5b5b5b;
}

.main_about_button{
    width: 25%;
    padding: 0.5vw 0 0.5vw 0;
    background-color: #2b2b2b;
    border-radius: 32px;
}
.main_about_button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  min-width: 100px;
}
@media(max-width : 768px) {

  .main_about {
    font-size: 12px;
  }

}