.component_container {
    width: 100%;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;   
    background: linear-gradient(rgb(219,112,147) , rgb(75,0,255));
}
.featured_component{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
    width: 100%;
    height: auto;
    margin-top: 75px;
    border-radius: 4px}
.featured_component h1 {
}
@media(max-width : 768px) {
    .featured_component {
        margin-top: 12.5vw;
    }
}