.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.features_component {
    width: 100%;
}
.features_navigator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vw;
    border-radius: 4px;
    margin: 10px 0 10px 0;
    box-shadow: 0px 0px 25px -5px;
}
.features_navigator a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25vw;
    text-decoration: none;
    font-size: 2vmin;
    font-weight: bold;
    color: #2b2b2b;
    transition: background-color 150ms ease;
}
.features_navlink {
    background-color: #32ED80;
}
.features_navigator a:hover {
    transition: background-color 150ms ease;
}
