.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    background-color: #E05046;
}
.features_navigator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 3vw;
    margin: 10px;
    background-color: white;
    border-radius: 4px;
}
.features_navigator a {
    width: 30%;
    text-decoration: none;
    font-size: 2vmin;
    font-weight: bold;
    color:#2b2b2b;
    
}
.features_component {
    width: 100%;
}